@font-face {
    font-family: "simkai";
    src: url("~@/static/fonts/simkai/simkai.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    font-style: normal;
    font-weight: normal;
}


