@font-face {
    font-family: "NSimSun-02";
    src: url("~@/static/fonts/simsun/NSimSun-02.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
	font-style: normal;
    font-weight: normal;
}


